name: Daily Finance Update

on:
  schedule:
    - cron: '0 0 * * *' # 매일 한국 시간 오전 9시 실행
  workflow_dispatch: # 수동 실행 버튼 활성화

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          pip install firebase-admin pandas yfinance

      - name: Run Finance Script
        env:
          FIREBASE_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        run: |
          echo "$FIREBASE_KEY" > serviceAccountKey.json
          python finance.py